<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ToyBox.Models.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ToyBox.Models.Properties.Settings>
            <setting name="Query_ObjectLookup" serializeAs="String">
                <value>USE [{0}]
SELECT	Name AS ObjectName, 
		'ASS' AS ObjectType, 
		NULL AS SchemaName, 
		Name AS FullyQualifiedName 
FROM sys.assemblies A
UNION ALL 
SELECT	O.Name AS ObjectName, 
		LTRIM(RTRIM(O.[type])) AS ObjectType, 
		S.name AS SchemaName, 
		S.name + '.' + O.name AS FullyQualifiedName
FROM sys.objects O
	WITH (NOLOCK)
INNER JOIN sys.schemas S
	WITH (NOLOCK)
ON S.schema_id = O.schema_id
WHERE type &lt;&gt; 'S' and type &lt;&gt; 'IT' </value>
            </setting>
            <setting name="Query_Databases" serializeAs="String">
                <value>SELECT	[D].[name] AS [Name],
		[D].[database_id] AS [Id],
		[D].[state_desc] AS [StateDescription]
FROM [master].[sys].[databases] D
WHERE [D].[name] NOT IN ('master', 'tempdb', 'model', 'msdb', 'sysdb') AND [D].[is_distributor] = 0</value>
            </setting>
        </ToyBox.Models.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
